<head>

  </head>
  <body>


    <div class="jumbotron" style="background-image: url(http://getwallpapers.com/wallpaper/full/8/0/d/1405093-beer-wallpaper-1920x1080-smartphone.jpg); height: 600px;">
    <div class="container">
      <h1 class="display-3"><b>Welcome to the House of Beer!</b></h1>
      <p><b>Let's find out some interesting things about beers and brewing techniques.</b></p>


    </div>
  </div>

  <div id="asd">
  <mat-card>
    <button mat-button (click)="openDialog()"  style="width: 100%;">Beer types</button>
  </mat-card>
  </div>
  </body>
