.example-container {
    display: flex;
    flex-direction: column;
  }

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
.example-radio-button {
    margin: 5px;
  }

mat-form-field.account-name-role {
  display: block;
  width: 25%;
  margin-bottom: 1%;
}
