<mat-tab-group>
  <mat-tab label="Introduction">
    <h1>What are beer styles?</h1>
    <p>Beer style is a term used to differentiate and categorise beers by factors such as colour, flavour, strength, ingredients, production method
      , recipe, history, or origin. Many beer styles are classified as one of two main types, ales and lagers, though many styles defy categorisation
      into such simple categories.</p>

    <ol>
      <li>
        <h4>Ale</h4>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Real_Ale_2004-05-09_cropped.jpg" align="middle" height="600" width="400" >
        <p>Ale is a type of beer brewed using a warm fermentation method, resulting in a sweet, full-bodied and fruity taste.Historically, the term
          referred to a drink brewed without hops. As with most beers, ale typically has a bittering agent to balance the malt and act as
          a preservative. Ale was originally bittered with gruit, a mixture of herbs or spices boiled in the wort before fermentation.
          Later, hops replaced gruit as the bittering agent. There are different kinds of Ale beers. The most known Ale styled beers are the
          following:  <b>Brown ale, Pale ale, Indian pale ale (referred as IPA), Golden ale, Scotch ale, Barley wine, Mild ale, Burton ale,
            Old ale, Belgian ale and Cask ale </b>
        </p>
      </li>
      <li>
        <h4>Lager</h4>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Pilsner_Urquell_2.JPG/800px-Pilsner_Urquell_2.JPG" align="middle" height="600" width="400">
        <p>Lager is a type of beer conditioned at low temperatures.[1] Lagers can be pale, amber, or dark. Pale lager is the most
          widely consumed and commercially available style of beer. <b>Well-known brands include Pilsner Urquell, Molson Canadian,
              Miller, Stella Artois, Beck's, Brahma, Budweiser Budvar, Corona, Snow, Tsingtao, Singha, Kirin, Heineken, Kingfisher,
              Carling, Foster's, Carlsberg, Birra Moretti and Tennents.</b>
           As well as maturation in cold storage, most lagers are also distinguished by the use of Saccharomyces pastorianus yeast, a "bottom-fermenting" yeast that also ferments at relatively cold temperatures
        </p>
      </li>
      <li>
        <h4>Lambic</h4>
        <img src="http://www.belgasormester.hu/upload/pics/beers/228.png" height="600" width="400">
        <p>Lambic ('lɒmbiːk or 'læmbɪk) is a type of beer brewed in the Pajottenland region of Belgium southwest of Brussels and in Brussels itself
          at the Cantillon Brewery. Lambic beers include gueuze and kriek lambic.[1] Lambic differs from most other beers in that it is
           fermented through exposure to wild yeasts and bacteria native to the Zenne valley, as opposed to exposure to carefully
            cultivated strains of brewer's yeast. This process gives the beer its distinctive flavour: dry, vinous, and cidery, usually
            with a sour aftertaste.
        </p>
      </li>

    </ol>
  </mat-tab>
  <mat-tab label="Ale">
    <h1>Ale</h1>
    <img src="https://drinks.seriouseats.com/images/20110406-pale-ale-group.jpg" height="400" width="600">    <p>

        <br>
        Ale was an important source of nutrition in the medieval world. It was one of three main sources of grains in the medieval
        diet, along with pottage and breads. Scholars believe grains accounted for around 80% of the calorie intake of agricultural
        workers and 75% for soldiers. Even nobles received around 65% of their calories from grains.[4] Small beer, also known as
         table beer or mild beer, which was highly nutritious, contained just enough alcohol to act as a preservative, and provided
         hydration without intoxicating effects. Small beer would have been consumed daily by almost everyone, including children,
         in the medieval world, with higher-alcohol ales served for recreational purposes. The lower cost for proprietors combined
         with the lower taxes levied on small beer led to the selling of beer labeled "strong beer" that had actually been diluted
          with small beer.[5] In medieval times, ale may have been safer to drink than most water (the germ theory of disease was
           unheard of, and the sterilizing properties of boiling unknown); however, there is no period evidence that people were
           aware of this nor that they chose to drink ale for this reason. The alcohol, hops, and some ingredients in gruit used to
           preserve some ales may have contributed to their lower load of pathogens, when compared to water. However, ale was largely
           safer due to the hours of boiling required in production, not the alcoholic content of the finished beverage.
    </p>

      <b>Ale can be described as:</b>
      <ul>
        <li>Sweet</li>
        <li>Full-bodied</li>
        <li>Fruity taste</li>
        <li>Made with warm fermentation</li>
      </ul>

  </mat-tab>
  <mat-tab label="Lager">
    <h1>Lager</h1>
      <img src="https://learn.kegerator.com/wp-content/uploads/2016/08/ale-vs-lager.jpg" height="500" width="750">
      <p>
          <br>
          Lager beer uses a process of cool fermentation, followed by maturation in cold storage. The German word "Lager"
          means storeroom or warehouse. The yeast generally used with lager brewing is Saccharomyces pastorianus. It is a
          close relative of the Saccharomyces cerevisiae yeast used for warm fermented ales.
            <br>
          While prohibited by the German Reinheitsgebot tradition, lagers in some countries often
          feature large proportions of adjuncts, usually rice or maize. Adjuncts entered United States brewing as a means of
          thinning out the body of beers, balancing the large quantities of protein introduced by six-row barley. Adjuncts are
          often used now in beermaking to introduce a large quantity of sugar, and thereby increase ABV, at a lower price than
          a formulation using an all-malt grain bill. There are however cases in which adjunct usage actually increases the cost
          of manufacture.
      </p>

        <b>Lager can be:</b>
        <ul>
          <li>Dark</li>
          <ul>
            <li>Dunkel</li>
            <li>Doppelbock</li>
            <li>Schwartzbier</li>
          </ul>
          <li>Light</li>
          <ul>
            <li>Helles</li>
            <li>Pilsner</li>
            <li>Märzen</li>
            <li>Bock</li>
          </ul>


        </ul>
  </mat-tab>
  <mat-tab label="Lambic">
    <h1>Lambic beer</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bieren_uit_de_streek_rond_brussel.jpg/1280px-Bieren_uit_de_streek_rond_brussel.jpg" >
      <p>
        <br>
          The beer is generally brewed from a grist containing approximately 60–70% barley malt and 30–40% unmalted wheat. The wort
          is cooled overnight in a shallow, flat metal pan (generally copper or stainless steel) called a coolship where it is left
          exposed to the open air so more than 120 different types of microorganisms may inoculate the wort. This cooling
          process requires night-time temperatures between -8C (18F) and 8 C (46F). While this cooling method of open air
          exposure is a critical feature of the style, the key yeasts and bacteria that perform the fermentation reside within
          the breweries' timber fermenting vessels. Over eighty microorganisms have been identified in lambic beer, the most
          significant being Saccharomyces cerevisiae, Saccharomyces pastorianus and Brettanomyces bruxellensis. The process is
          generally only possible between October and May as in the summer months there are too many unfavourable organisms in
          the air that could spoil the beer. In Brussels dialect, lambic produced after this traditional brewing season is referred to
          as bezomerd, meaning that it has had "too much summer". Climate change is further shortening this limited brewing window:
          in the early 1900s, lambic brewers enjoyed roughly 165 days a year in the ideal temperature range, whereas by 2018 that number
          has shrunk to 140.
      </p>

        <b>A lambic beer can be:</b>
        <ul>
          <li>Dry</li>
          <li>Vinous</li>
          <li>Cidery</li>
          <li>Sour</li>
        </ul>
  </mat-tab>
  <mat-tab label="Other">
    <h1>Other type of beers</h1>
      <img src="https://assets.bonappetit.com/photos/57bf22c24395c0582bb62e01/16:9/w_800,c_limit/otter-creek-backseat-berner-bottles-beer.jpg" >
      <p>

      </p>

        <b>Other type of beers are:</b>
        <ul>
          <li>Asd</li>

        </ul>
  </mat-tab>
  <mat-tab label="Brewing methods">
    <h1>Brewing methods</h1>
    <img src="https://craftbeeracademy.com/wp-content/uploads/2016/07/brewing-process.jpg" >
   <p>
     <br>
     Brewing is the production of beer by steeping a starch source (commonly cereal grains, the most popular of which
     is barley) in water and fermenting the resulting sweet liquid with yeast. It may be done in a brewery by a commercial brewer,
     at home by a homebrewer, or by a variety of traditional methods such as communally by the indigenous peoples in Brazil when
     making cauim. Brewing has taken place since around the 6th millennium BC, and <b> archaeological evidence suggests that
        emerging civilizations including ancient Egypt and Mesopotamia brewed beer.</b> Since the nineteenth century the brewing
     industry has been part of most western economies.
  </p>
  <br/>

  </mat-tab>
</mat-tab-group>
